.nav {
    &__mobile {
        position: relative;
        top: -35px;

        input[type=checkbox] {
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
            opacity: 0;
        }

        label {
          position: relative;
          display: block;
          float: right;
          cursor: pointer;
          height: 28px;
          width: 28px;
          content: $three_bars--black;

          &:hover {
              content: $three_bars--gray;
          }
        }

        input[type=checkbox]:checked ~ label {
            height: 23px;
            width: 23px;
            content: $cross--black;
            right: 3px;
            top: 2px;

            &:hover {
            content: $cross--gray;
            }
        }

        input[type=checkbox]:checked ~ &--menu {
            max-height: 500px;
            margin-top: 40px;
            opacity: 1;
        }

        &--menu {
            clear: both;
            max-height: 0;
            overflow: hidden;
            float: left;
            width: 100%;
            opacity: 0;
            transition: all 0.3s ease;
        }
    }

    &__user {
        position: relative;

        &__name {
            padding: 9px 0;
        }

        &__menu {
            position: absolute;
            background: white;
            // display: none;
            min-width: 255px;
            left: -115px;
            box-shadow: 0 1px 4px rgba(0,0,0,.25);
            z-index: 1;
            box-sizing: border-box;

            &__comites {
                padding: 20px;
                background: $gray--light;
            }

            &__account {
                padding: 20px;
            }
        }

        &:hover {
            .nav__user__menu {
                display: block;
            }
        }
    }
}
